# flex and bison
*.lex.yy.*
*.output
*.tab.*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# llmv
*.ll

# cmake
build/*
bin/*

# arx
arxc
*.arxc
*.arx.o

# IDE
.vscode

# prof
*profraw

# tests
/Testing

# docs
./build

# jupyter
.ipynb_checkpoints

# env
.env
