<!DOCTYPE HTML>
<html>

<head>
	<title>{% if page.title %}{{ page.title }} -
		{% endif %}{{ config.site_name }}</title>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<link rel="stylesheet" href="/assets/css/custom.css" />
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
		crossorigin="anonymous">
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous">
		</script>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<!--
					<a href="index.html" class="logo" style="vertical-align:middle">
						<img src="/images/arx.png" width="40px"/>
						<strong>ArxLang</strong>
					</a>
					<ul class="icons">
						<li>
							<a href="https://twitter.com/arx_lang" class="icon brands fa-twitter">
								<span class="label">Twitter</span>
							</a>
						</li>
						<li>
							<a href="https://github.com/arxlang/arx" class="icon brands fa-github">
								<span class="label">GitHub</span>
							</a>
						</li>
						<li>
							<a href="/discord" class="icon brands fa-discord">
								<span class="label">Discord</span>
							</a>
						</li>
						<li>
							<a href="mailto:arxcompiler@gmail.com" class="icon solid fa-envelope">
								<span class="label">Email</span>
							</a>
						</li>
					</ul>
					-->
				</header>

				<!-- Section -->
				<section>
					{{ page.content }}

					{% for nav_item in nav %}

						{% if nav_item.title == "Tutorials" and nav_item.children %}

							{% for sub_nav_item in nav_item.children %}
							{% if sub_nav_item.title != "main" %}

							<div class="posts">
								<article>
									<a href="{{ sub_nav_item.url|url }}" class="image">
										<img src="https://picsum.photos/id/{{ loop.index }}/400/200" alt="{{ sub_nav_item.title }}" />
									</a>
									<h3>{{ sub_nav_item.title }}</h3>
									<p>{{ sub_nav_item.summary }}</p>
									<ul class="actions">
										<li><a href="{{ sub_nav_item.url|url }}" class="button">More</a></li>
									</ul>
								</article>
							{% endif %}
							{% endfor %}
						</div>
						{% endif %}
					{% endfor %}
				</section>

			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">

				<!-- Search -->
				<!--
				<section id="search" class="alt">
					<form method="post" action="#">
						<input type="text" name="query" id="query" placeholder="Search" />
					</form>
				</section>

				-->

				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>
							<a href="index.html" class="logo" style="vertical-align:middle">
								<img src="/images/arx.png" width="40px" />
								<strong>ArxLang</strong>
							</a>
						</h2>
					</header>

					{% if nav|length>1 %}
					<ul>
						{% for nav_item in nav %}

						{% if nav_item.children %}
						<li>
							{% for sub_nav_item in nav_item.children %}
							{% if sub_nav_item.title == "main" %}
								<a href="{{ sub_nav_item.url|url }}">{{ nav_item.title }}</a>
							{% endif %}
							{% endfor %}
						</li>
						{% else %}

						<li>
							<a href="{{ nav_item.url|url }}">{{ nav_item.title }}</a>
						</li>
						{% endif %}
						{% endfor %}
					</ul>
					{% endif %}
				</nav>

				<section>
					<header class="major">
						<h2>Sponsors</h2>
					</header>

					<p>
						Be our first sponsor!
					</p>

					<iframe src="https://github.com/sponsors/arxlang/button"
						title="Sponsor ArxLang" height="35" width="116" style="border: 0;">
					</iframe>
				</section>

				<section>
					<header class="major">
						<h2>Get in touch</h2>
					</header>
					<ul class="contact">
						<li class="icon solid fa-envelope">
							<a href="mailto:arxcompiler@gmail.com">arxcompiler@gmail.com</a>
						</li>
						<li class="icon solid brands fa-twitter">
							<a href="https://twitter.com/arx_lang">Twitter</a>
						</li>
						<li class="icon solid brands fa-github">
							<a href="https://twitter.com/arx_lang">GitHub</a>
						</li>
						<li class="icon solid brands fa-discord">
							<a href="/discord">Discord</a>
						</li>
					</ul>
				</section>

				<!-- Footer -->
				<footer id="footer">
					<p class="copyright">
						&copy; ArxLang. All rights reserved.<br />
						Design: <a href="https://html5up.net">HTML5 UP</a>.
					</p>
				</footer>

			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>

</body>

</html>
