# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: main

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  main:

    runs-on: ubuntu-latest
    timeout-minutes: 20

    concurrency:
      group: ci-main-${{ github.ref }}
      cancel-in-progress: true

    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        submodules: recursive


    - uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: 3.9
        mamba-version: "*"
        channels: conda-forge,nodefaults
        channel-priority: true
        activate-environment: arx
        environment-file: conda/dev.yaml

    - name: build
      run: make meson-build

    - name: test flags
      run: |
        build/arx --version

    - name: run sanity tests
      run: make test-sanity

    - name: test examples
      run: make test-examples

    - name: lint
      run: |
        pre-commit install
        pre-commit run --all-files

    - name: llvm-cov generation
      if: ${{ github.event_name == 'pull_request' }}
      id: llvm-cov-report
      run: make code-coverage

    - name: Generate documentation
      run: |
        doxygen Doxyfile
        echo "arxlang.org" > ./build/docs/html/CNAME
