[
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o CMakeFiles/arx.dir/arx/src/main.cpp.o -c {{PROJECT_PATH}}/arx/src/main.cpp",
  "file": "{{PROJECT_PATH}}/arx/src/main.cpp"
},
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o CMakeFiles/arx.dir/arx/src/input.cpp.o -c {{PROJECT_PATH}}/arx/src/input.cpp",
  "file": "{{PROJECT_PATH}}/arx/src/input.cpp"
},
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o CMakeFiles/arx.dir/arx/src/lexer.cpp.o -c {{PROJECT_PATH}}/arx/src/lexer.cpp",
  "file": "{{PROJECT_PATH}}/arx/src/lexer.cpp"
},
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o CMakeFiles/arx.dir/arx/src/parser.cpp.o -c {{PROJECT_PATH}}/arx/src/parser.cpp",
  "file": "{{PROJECT_PATH}}/arx/src/parser.cpp"
},
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o CMakeFiles/arx.dir/arx/src/error.cpp.o -c {{PROJECT_PATH}}/arx/src/error.cpp",
  "file": "{{PROJECT_PATH}}/arx/src/error.cpp"
},
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o CMakeFiles/arx.dir/arx/src/codegen.cpp.o -c {{PROJECT_PATH}}/arx/src/codegen.cpp",
  "file": "{{PROJECT_PATH}}/arx/src/codegen.cpp"
},
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o CMakeFiles/arx.dir/arx/src/settings.cpp.o -c {{PROJECT_PATH}}/arx/src/settings.cpp",
  "file": "{{PROJECT_PATH}}/arx/src/settings.cpp"
},
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o CMakeFiles/arx.dir/arx/src/utils.cpp.o -c {{PROJECT_PATH}}/arx/src/utils.cpp",
  "file": "{{PROJECT_PATH}}/arx/src/utils.cpp"
},
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -I{{PROJECT_PATH}}/build/tests -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -fsanitize=address -O1 -fno-omit-frame-pointer -fprofile-instr-generate -fcoverage-mapping -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o tests/CMakeFiles/ArxTests.dir/main.cpp.o -c {{PROJECT_PATH}}/tests/main.cpp",
  "file": "{{PROJECT_PATH}}/tests/main.cpp"
},
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -I{{PROJECT_PATH}}/build/tests -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -fsanitize=address -O1 -fno-omit-frame-pointer -fprofile-instr-generate -fcoverage-mapping -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o tests/CMakeFiles/ArxTests.dir/test_lexer.cpp.o -c {{PROJECT_PATH}}/tests/test_lexer.cpp",
  "file": "{{PROJECT_PATH}}/tests/test_lexer.cpp"
},
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -I{{PROJECT_PATH}}/build/tests -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -fsanitize=address -O1 -fno-omit-frame-pointer -fprofile-instr-generate -fcoverage-mapping -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o tests/CMakeFiles/ArxTests.dir/test_input.cpp.o -c {{PROJECT_PATH}}/tests/test_input.cpp",
  "file": "{{PROJECT_PATH}}/tests/test_input.cpp"
},
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -I{{PROJECT_PATH}}/build/tests -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -fsanitize=address -O1 -fno-omit-frame-pointer -fprofile-instr-generate -fcoverage-mapping -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o tests/CMakeFiles/ArxTests.dir/test_parser.cpp.o -c {{PROJECT_PATH}}/tests/test_parser.cpp",
  "file": "{{PROJECT_PATH}}/tests/test_parser.cpp"
},
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -I{{PROJECT_PATH}}/build/tests -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -fsanitize=address -O1 -fno-omit-frame-pointer -fprofile-instr-generate -fcoverage-mapping -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o tests/CMakeFiles/ArxTests.dir/test_codegen.cpp.o -c {{PROJECT_PATH}}/tests/test_codegen.cpp",
  "file": "{{PROJECT_PATH}}/tests/test_codegen.cpp"
},
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -I{{PROJECT_PATH}}/build/tests -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -fsanitize=address -O1 -fno-omit-frame-pointer -fprofile-instr-generate -fcoverage-mapping -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o tests/CMakeFiles/ArxTests.dir/test_utils.cpp.o -c {{PROJECT_PATH}}/tests/test_utils.cpp",
  "file": "{{PROJECT_PATH}}/tests/test_utils.cpp"
},
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -I{{PROJECT_PATH}}/build/tests -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -fsanitize=address -O1 -fno-omit-frame-pointer -fprofile-instr-generate -fcoverage-mapping -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o tests/CMakeFiles/ArxTests.dir/test_error.cpp.o -c {{PROJECT_PATH}}/tests/test_error.cpp",
  "file": "{{PROJECT_PATH}}/tests/test_error.cpp"
},
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -I{{PROJECT_PATH}}/build/tests -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -fsanitize=address -O1 -fno-omit-frame-pointer -fprofile-instr-generate -fcoverage-mapping -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o tests/CMakeFiles/ArxTests.dir/__/arx/src/input.cpp.o -c {{PROJECT_PATH}}/arx/src/input.cpp",
  "file": "{{PROJECT_PATH}}/arx/src/input.cpp"
},
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -I{{PROJECT_PATH}}/build/tests -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -fsanitize=address -O1 -fno-omit-frame-pointer -fprofile-instr-generate -fcoverage-mapping -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o tests/CMakeFiles/ArxTests.dir/__/arx/src/lexer.cpp.o -c {{PROJECT_PATH}}/arx/src/lexer.cpp",
  "file": "{{PROJECT_PATH}}/arx/src/lexer.cpp"
},
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -I{{PROJECT_PATH}}/build/tests -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -fsanitize=address -O1 -fno-omit-frame-pointer -fprofile-instr-generate -fcoverage-mapping -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o tests/CMakeFiles/ArxTests.dir/__/arx/src/parser.cpp.o -c {{PROJECT_PATH}}/arx/src/parser.cpp",
  "file": "{{PROJECT_PATH}}/arx/src/parser.cpp"
},
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -I{{PROJECT_PATH}}/build/tests -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -fsanitize=address -O1 -fno-omit-frame-pointer -fprofile-instr-generate -fcoverage-mapping -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o tests/CMakeFiles/ArxTests.dir/__/arx/src/error.cpp.o -c {{PROJECT_PATH}}/arx/src/error.cpp",
  "file": "{{PROJECT_PATH}}/arx/src/error.cpp"
},
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -I{{PROJECT_PATH}}/build/tests -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -fsanitize=address -O1 -fno-omit-frame-pointer -fprofile-instr-generate -fcoverage-mapping -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o tests/CMakeFiles/ArxTests.dir/__/arx/src/codegen.cpp.o -c {{PROJECT_PATH}}/arx/src/codegen.cpp",
  "file": "{{PROJECT_PATH}}/arx/src/codegen.cpp"
},
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -I{{PROJECT_PATH}}/build/tests -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -fsanitize=address -O1 -fno-omit-frame-pointer -fprofile-instr-generate -fcoverage-mapping -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o tests/CMakeFiles/ArxTests.dir/__/arx/src/settings.cpp.o -c {{PROJECT_PATH}}/arx/src/settings.cpp",
  "file": "{{PROJECT_PATH}}/arx/src/settings.cpp"
},
{
  "directory": "{{PROJECT_PATH}}/build",
  "command": "{{CONDA_PREFIX}}/bin/clang++ -DGFLAGS_IS_A_DLL=0 -DGLOG_CUSTOM_PREFIX_SUPPORT -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -I{{PROJECT_PATH}}/arx/include -I{{PROJECT_PATH}}/build/tests -fvisibility-inlines-hidden -std=c++17 -fmessage-length=0 -march=nocona -mtune=haswell -ftree-vectorize -fPIC -fstack-protector-strong -fno-plt -O2 -ffunction-sections -pipe -isystem {{CONDA_PREFIX}}/include -fsanitize=address -O1 -fno-omit-frame-pointer -fprofile-instr-generate -fcoverage-mapping -O3 -DNDEBUG -fprofile-instr-generate -fcoverage-mapping -std=c++17 -o tests/CMakeFiles/ArxTests.dir/__/arx/src/utils.cpp.o -c {{PROJECT_PATH}}/arx/src/utils.cpp",
  "file": "{{PROJECT_PATH}}/arx/src/utils.cpp"
}
]
